<section class="company">
    <div class="container">
        <h2 class="company-title">Why choose our company</h2>
        <ul class="company-list">
            <li class="company-item">
                <img src="../img/speed.jpg" class="company-img" alt="speedometer" width="71.701" height="70">
                <h3 class="company-subtitle">Speed</h3>
                <p class="company-text">Thanks to GPON and a backup line, we guarantee the speed right under the contract</p>
            </li>
            <li>
                <img src="../img/installation.jpg" class="company-img" alt="wrench" width="71.701" height="70">
                <h3 class="company-subtitle">Installation</h3>
                <p class="company-text">We carefully mount the cable, without damaging the interior of your apartment or house</p>
            </li>
            <li>
                <img src="../img/support.jpg" class="company-img" alt="clock" width="71.701" height="70">
                <h3 class="company-subtitle">Support</h3>
                <p class="company-text">Round-the-clock help in the application or via the hotline, even on holidays you can get an answer to your question</p>
            </li>
        </ul>
    </div>
</section>   
