<!-- Максим Без -->
<link rel="stylesheet" href="/src/css/contact.css"/>
<section class="contact">
  <h1 class="contact-title">Leave a request and our manager will contact you shortly</h1>
  <p class="contact-sub">
    You will have the opportunity to discuss details and ask clarifying questions
  </p>
  <input class="contact-number" type="tel" name="number" placeholder="Phone number" />
  
  <input class="contact-name" type="text" name="name" placeholder="Name" />
  
  <button type="button" class="contact-btn">Order calculation</button>
  
  <input
    name="user-privacy"
    id="user-privacy"
    type="checkbox"
    class="contact-input"
  />
  <label class="check-text" for="user-privacy"
    >By clicking on the button, you agree to the <span class="check-text-sp">terms of processing personal
    data</span></label
  >
</section>