<!-- Александр -->
<section class="feedback">
  <div class="feedback-wrap">
    <h2 class="feedback-title">Feedbacks from our clients</h2>
    <div class="feedback-container">
        <div class="feedback-wrap-container">
      <h3 class="feedback-subtitle">«We have been using World.net for seven years»</h3>
      <p class="feedback-text">
        «We connected it for a rented apartment, and now we use it in ours. For
        7 years, only one call was made to support - to change the installation
        address. It can be called the quality standard for modern Internet
        providers. The level of service is excellent. No connection breaks, no
        modem connection, the Internet, in fact, over a dedicated line. Bonus
        program for regular subscribers up to 20% discount on the tariff plan»
      </p>
      <a href="#" class="feedback-link">Read full review</a>
        </div>
        <div class="feedback-container-img">
            <img src="./img/douglashancock.png" alt="logo word H" class="feedback-img">
            <h3 class="feedback-subtitle-img">Douglas Hancock</h3>
            <p class="feedback-text-img">Chicago</p>
        </div>
    </div>
  </div>
</section>
