
<link rel="stylesheet" href="../public/goit-markup-hw-06/index.html"/>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>


<div class="modal_window">
  <div class="container_modal_window">
    <div class="container_line">
      <hr class="contact_line"/>
      <p class="modal_contact_text">Contact Us</p>
    </div>
    <h2 class="modal_item">
      Contact <span class="modal_item_text"> Us & We Can Work Together</span>
    </h2>
    <p class="modal_content">
      Lorem ipsum dolor sit amet consectetur. Adipiscing nisl id at arcu enim id
      gravida pulvinar. Tristique consectetur mi curabitur congue enim dignissim
    </p>
    <form>
     
        <input class="form_container_input"
        id="user-name" 
        type="text" 
        name="username" 
        placeholder="Your Name" />
     
        <input class="form_container_input"
        id="email" 
        type="email" 
        name="email" 
        placeholder="Your Email" />

        <textarea
        class="textarea_name"
        id="user-comment"
        name="user-comment"
        placeholder="Your Message"
      ></textarea>
    
    <div class="container_modal_button">
    <button class="modal_button" type="submit">Submit Message</button>
  </div>
    </form>
  </div>
</div>
</body>
</html>