<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>modal</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
      integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;700&family=Reem+Kufi&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>


<div class="modal_window">
  <div class="container_modal_window">
    <div class="container_line">
      <hr class="contact_line" width="143px" height="2px" />
      <p class="modal_contact_text">Contact Us</p>
    </div>
    <h2 class="modal_item">
      Contact <span class="modal_item_text"> Us & We Can Work Together</span>
    </h2>
    <p class="modal_content">
      Lorem ipsum dolor sit amet consectetur. Adipiscing nisl id at arcu enim id
      gravida pulvinar. Tristique consectetur mi curabitur congue enim dignissim
    </p>
    <form>
     
        <input class="form_container_input"
        id="user-name" 
        type="text" 
        name="username" 
        placeholder="Your Name" />
     
        <input class="form_container_input"
        id="email" 
        type="email" 
        name="email" 
        placeholder="Your Email" />

        <textarea
        class="textarea_name"
        id="user-comment"
        name="user-comment"
        placeholder="Your Message"
      ></textarea>
    
    <div class="container_modal_button">
    <button class="modal_button" type="submit">Submit Message</button>
  </div>
    </form>
  </div>
</div>
</body>
</html>