.feedback {
  padding: 175px 0;
}

.feedback-wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 1180px;
}

.feedback-title {
  color: #2e363e;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 60px;
}

.feedback-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-radius: 10px;
  border: 1px solid #5f0a61;
  width: 1178px;
  height: 639px;
  padding: 108px 190px 127px 151px;
}

.feedback-wrap-container {
  display: flex;
  flex-direction: column;
  max-width: 536px;
  gap: 24px;
}

.feedback-subtitle {
  color: #2e363e;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.4;
}

.feedback-text {
  color: #2e363e;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
}

.feedback-link {
  color: #5f0a61;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: underline;
}

.feedback-container-img {
  max-width: 1178px;
  margin-left: 51px;
}

.feedback-img {
  width: 250px;
  height: 250px;
  
}

.feedback-subtitle-img {
  color: #2e363e;
  text-align: center;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.4;
  margin-top: 21px;
  margin-bottom: 6px;
}

.feedback-text-img {
  color: #a6aeb6;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}
